section.section.blog
  .container
    .blog__heading
      h3.blog__title Полезное или что важно знать о скинали...
      a.blog__link-more(href="#") Читать все статьи
    .blog-list
      .blog-card.blog-list__card
        .blog-list__image
          img(src="./img/blog-post-1.jpg", alt="")
        .blog-list__text Виды стекла
      .blog-card.blog-list__card
        .blog-list__image
          img(src="./img/blog-post-2.jpg", alt="")
        .blog-list__text Виды печати
      .blog-card.blog-list__card
        .blog-list__image
          img(src="./img/blog-post-3.jpg", alt="")
        .blog-list__text Виды крепежа и монтажа
      .blog-card.blog-list__card
        .blog-list__image
          img(src="./img/blog-post-4.jpg", alt="")
        .blog-list__text Вопросы - Ответы
