section.section.catalog
  .container
    h2.section-title.section__title Каталог скинали
    .catalog-block
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-1.jpg", alt="")
        span.catalog-card__tag Коллажи
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-2.jpg", alt="")
        span.catalog-card__tag Авторская коллекция
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-3.jpg", alt="")
        span.catalog-card__tag Коллажи
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-4.jpg", alt="")
        span.catalog-card__tag Авторская коллекция
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-5.jpg", alt="")
        span.catalog-card__tag Коллажи
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-6.jpg", alt="")
        span.catalog-card__tag Абстракция
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-7.jpg", alt="")
        span.catalog-card__tag Коллажи
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
      .catalog-card.catalog__card
        img.catalog-card__image(src="./img/catalog-image-8.jpg", alt="")
        span.catalog-card__tag Абстракция
        .catalog-card__buttons
          button.button-fitting.catalog-card__button Примерить онлайн
          button.button-add.catalog-card__button Заказать
          button.button-like.catalog-card__button
            img(src="./img/like.png", alt="")
    .catalog__link
      a.button.button_lg.catalog__link-more(href="#") Смотреть весь каталог скинали
      span.catalog__description Более 3000 изображений скинали в 25 рубриках
