.section.features
  .container
    h2.section-title.section__title Наши преимущества
    .features-block
      .features-block__item
        img.features-block__img(src="./img/feature-1.png", alt="Бесплатный дизайн-макет")
        p.features-block__text Бесплатный 
          br
          |  дизайн-макет
      .features-block__item
        img.features-block__img(src="./img/feature-2.png", alt="Пожизненная гарантия")
        p.features-block__text Пожизненная 
          br
          | гарантия
      .features-block__item
        img.features-block__img(src="./img/feature-3.png", alt="Большой каталог изображений")
        p.features-block__text Большой 
          br
          | каталог изображений
      .features-block__item
        img.features-block__img(src="./img/feature-4.png", alt="100% соблюдение сроков")
        p.features-block__text 100% соблюдение 
          br
          | сроков
      .features-block__item
        img.features-block__img(src="./img/feature-5.png", alt="Собственное производство")
        p.features-block__text Собственное 
          br
          | производство
      .features-block__item
        img.features-block__img(src="./img/feature-6.png", alt=" Минимальная цена в городе от 1600 р метр")
        p.features-block__text Минимальная цена в городе 
          br
          | от 1600 р метр
