header.header
  .menu
      .container
        nav.menu__nav
          a.menu__link(href="#") Главная
          a.menu__link(href="#") Продукция         
          a.menu__link(href="#") Каталог
          a.menu__link(href="#") Примеры работ
          a.menu__link(href="#") Примерка изображений
          a.menu__link(href="#") Стоимость дилерам
          a.menu__link(href="#") О скинали
  .navbar
    .container
      .navbar-wrap
        button.menu-button.navbar__menu-button
          span.menu-button__line
          span.menu-button__line
          span.menu-button__line
        .logo.navbar__logo
          strong.logo__text Фабрика скинали №1
          span.logo__description ведущий производитель скинали
        .navbar__mobile
          a.navbar__phone(href="tel:+79121234567") +7 912 123-45-67
          span.navbar__work-time.navbar__small-text без выходных 9-21
        .navbar__landline
          a.navbar__phone(href="tel:+79121234567") +7 912 123-45-67
          a.navbar__email.navbar__small-text(href="mailto:info@mail.cu") info@mail.cu
        button.button-o.navbar__button Получить консультацию
  .hero
    .container
      h1.hero__title Гарантия 
        br
        | минимальной цены 
        br
        | на скинали
      span.hero__subtitle от 3 000 р/м2
      button.button.hero__button Заказать скинали
