<!DOCTYPE html>
html(lang="ru")
  include ./partials/head.pug
  body
    include ./partials/header.pug
    include ./partials/main.pug
    include ./partials/features.pug
    script(src="https://spikmi.com/Widget?Id=1650")
