<!DOCTYPE html>
html(lang="ru")
  include ./partials/head.pug
  body
    include ./partials/header.pug
    include ./partials/main.pug
    include ./partials/features.pug
    include ./partials/catalog.pug
    include ./partials/blog-list.pug
    include ./partials/price.pug
    script(src="https://spikmi.com/Widget?Id=1650")
