* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-weight: 300;
  color: $text-color;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;

  &-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 100px;
  }
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.button-o {
  padding: 17px 22px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primary;
  border: 2px solid $primary;
  transition: all 0.5s ease;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 25px 45px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: $primary;

  &-fitting {
    color: $primary;
    background-color: #fff;
  }

  &-add {
    color: #fff;
    background-color: lighten($primary, 10%);
  }

  &-like {
    background-color: $primary;
  }
}

.bg-secondary {
  background-color: $bg-secondary;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;

  &:checked + .checkbox-label:before {
    background-color: $primary;
  }

  &-label {
    display: flex;
    align-items: center;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }
    
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      margin-right: 20px;
    }
  }
  
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
    &-title {
      font-size: 24px;
    }
  }
}
